name: cert-manager
namespace: cert-manager
syncWave: "-25"

chart:
  repoURL: https://charts.jetstack.io
  name: cert-manager
  version: v1.19.1

helmValues:
  crds:
    enabled: true
  prometheus:
    enabled: true
    servicemonitor:
      enabled: true

  extraObjects:
    - |
      apiVersion: cert-manager.io/v1
      kind: ClusterIssuer
      metadata:
        name: letsencrypt-cloudflare
      spec:
        acme:
          server: https://acme-v02.api.letsencrypt.org/directory
          email: tobiasz@tmdev.pl
          privateKeySecretRef:
            name: letsencrypt-cloudflare-account-key
          solvers:
          - dns01:
              cloudflare:
                apiTokenSecretRef:
                  name: cloudflare-api-token
                  key: api-token

    - |
      apiVersion: cert-manager.io/v1
      kind: Certificate
      metadata:
        name: wildcard-tmdev-pl
        namespace: cert-manager
      spec:
        secretName: wildcard-tmdev-pl-tls
        issuerRef:
          name: letsencrypt-cloudflare
          kind: ClusterIssuer
        dnsNames:
        - "*.tmdev.pl"
        - "tmdev.pl"
