name: longhorn
namespace: longhorn-system
syncWave: "-9" # argocd-self is -10 so it can go after that

chart:
  repoURL: https://charts.longhorn.io
  name: longhorn
  version: 1.10.0

helmValues:
  preUpgradeChecker:
    jobEnabled: false
    
  persistence:
    defaultClass: true
    defaultClassReplicaCount: 1
    # Fix for "device apparently in use" error during volume formatting
    defaultMkfsParams: "-F"

  # Default settings tuned for a single-server (non-HA) environment
  defaultSettings:
    defaultReplicaCount: "1"
    defaultDataPath: /var/lib/longhorn
    # Allow Longhorn to create a default disk on the node automatically
    createDefaultDiskLabeledNodes: false

  # Reduce UI replicas for single-node
  longhornUI:
    replicas: 1

  csi:
    attacherReplicaCount: "1"
    provisionerReplicaCount: "1"
    resizerReplicaCount: "1"
    snapshotterReplicaCount: "1"

  # Add HTTPRoute
  extraObjects:
    - apiVersion: gateway.networking.k8s.io/v1beta1
      kind: HTTPRoute
      metadata:
        name: longhorn
        namespace: longhorn-system
      spec:
        parentRefs:
          - name: agentgateway
            namespace: kgateway-system
        hostnames:
          - longhorn.tmdev.pl
        rules:
          - backendRefs:
              - name: longhorn-frontend
                port: 80
                namespace: longhorn-system
