name: kube-prometheus-stack
namespace: monitoring
syncWave: "-5"

chart:
  repoURL: https://prometheus-community.github.io/helm-charts
  name: kube-prometheus-stack
  version: 79.5.0

helmValues:
  grafana:
    enabled: true
    replicas: 1
    ingress:
      enabled: true
      ingressClassName: haproxy
      hosts:
        - grafana.lan
      tls: []
    persistence:
      enabled: true
      storageClassName: "longhorn"
      size: 10Gi
      accessModes:
        - ReadWriteOnce
    grafana.ini:
      auth:
        disable_login_form: true
        disable_signout_menu: true
      auth.anonymous:
        enabled: true
        org_role: Admin
      users:
        allow_sign_up: false

  prometheus:
    route:
      main:
        enabled: true
        parentRefs:
          - name: http
            namespace: kgateway-system
        hostnames:
          - prometheus.lan
    prometheusSpec:
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: "longhorn"
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 50Gi
      
  kubeStateMetrics:
    enabled: true

  nodeExporter:
    enabled: true

  alertmanager:
    enabled: false
