name: kube-prometheus-stack
namespace: monitoring
syncWave: "-5"

chart:
  repoURL: https://prometheus-community.github.io/helm-charts
  name: kube-prometheus-stack
  version: 79.5.0

helmValues:
  grafana:
    enabled: true
    replicas: 1
    route:
      main:
        enabled: true
        parentRefs:
          - name: agentgateway
            namespace: kgateway-system
        hostnames:
          - grafana.tmdev.pl
    persistence:
      enabled: true
      storageClassName: "local-path"
      size: 10Gi
      accessModes:
        - ReadWriteOnce
    initChownData:
      enabled: false
    env:
      GF_AUTH_DISABLE_LOGIN_FORM: "true"
      GF_AUTH_DISABLE_SIGNOUT_MENU: "true"
      GF_AUTH_ANONYMOUS_ENABLED: "true"
      GF_AUTH_ANONYMOUS_ORG_ROLE: "Admin"
      GF_USERS_ALLOW_SIGN_UP: "false"
      GF_SECURITY_DISABLE_BRUTE_FORCE_LOGIN_PROTECTION: "true"

  prometheus:
    route:
      main:
        enabled: true
        parentRefs:
          - name: agentgateway
            namespace: kgateway-system
        hostnames:
          - prometheus.tmdev.pl
    prometheusSpec:
      storageSpec:
        volumeClaimTemplate:
          spec:
            storageClassName: "local-path"
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 50Gi
      
  kubeStateMetrics:
    enabled: true

  nodeExporter:
    enabled: true

  alertmanager:
    enabled: false
